body{
  margin:0;
}
a {
  color:black;

}

h1 {
  font-size: 500%;
  text-align: center;
  border-bottom: 3px solid gray;
  margin:0;
  padding:20px;
}
#grid ol{
  border-right: 3px solid gray;
  width: 100px;
  margin: 0;
  padding: 20px;
  padding-left: 33px;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid #article{
  padding-left: 33px;
}
@media(max-width:650px) {
  #grid{
    display: block;
  }
  #grid ol{
      border-right: none;}
  h1 {
      border-bottom: none;}

}
